.content {
	width: 960px;
	margin: auto;
}
.content section {
	margin: 20px;
}
body {
	font-family: Arial;
	background-color: #333;
}
.content {
	background-color: #3E3E3E;
	border: 1px solid rgba(96, 96, 95, 0.5);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 40px rgba(95, 101, 75, 0.5) inset, 0 0 40px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	font-size: 13px;
}
/*
 * this is also an example
 */
h1 {
	color: #F4FF8E;
	font-family: 'Sofia',cursive;
	font-weight: normal;
	text-shadow: 0 3px 0 #000000;
}
